<div class='container'>
  <h1>Digistore</h1>
  <p class='lead'>For all of the best digital games.</p>
  <p>{{# link-to "cart" }} View Cart{{/ link-to }}</p>
    <hr>
  {{outlet}}
  
  <div class='text-muted'><small>Foot</small></div>
</div>
