<h1>Cart Contents</h1>

<div>
  <table class="table">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>

  {{# each items }}  
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.dollars }}</td>
      <td>{{ quantity }}</td>
      <td>{{ dollars }}</td>
    </tr>
  {{/ each }}
  </table>
</div>

