<h1><a href="/">Game Directory</a></h1>
<div class='row'>
  <div class='col-lg-2'>
    <ul>
      {{# each }}
      <li>
        {{# link-to "product" this }}
          <div>
            <img {{ bind-attr src=image }} class='thumbnail col-lg-12' />
          <br>
          {{ name }}
          <br>
          {{ dollars }}
          </div>
        {{/link-to}}
      </li>
      <br>
      <br>
      {{/ each }}
    </ul>
  </div>
  <div class='col-lg-10'>
    {{ outlet }}
  </div>
</div>